[Unit]
Description=Nitro Enclaves Resource Allocator
DefaultDependencies=no
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/nitro-enclaves-allocator
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
